:root
{
/* ==================MAIN TEXTS ==================*/
    --primary-color: hwb(240 25% 47%);
    --primary-color-alt: hwb(240 28% 60%);
/* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-light-color: whitesmoke;
}
/* =====================Global CSS ===================== */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: whitesmoke;
    font-family: 'Poppins',sans-serif;
}
a
{
    text-decoration: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* =====================CSS FOR PAGE ===================== */
.nav-bar
{
    height: 3.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0.1em  1em;
}
.logo
{
    padding: 0 10px;
    line-height: 2.6rem;
    color: var(--text-light-color);
    font-size: 1.3rem;
}
.logo:hover
{
    font-weight: bold;
}
.logo_container
{
    align-items: center;
}
.drop-down
{
    cursor: pointer;
    border: 2px solid;
    padding: 0.01em 0.5em;
}
.drop-down .avatar
{
    transform: translateY(5px);
    width: 35px;
    border-radius: 50%;
}
.drop-down button
{
    transform: translateY(-8px);
    color: var(--text-light-color);
    padding: 4px 8px;
}
.drop-down:hover
{
    background: var(--primary-color-alt);
    color: #000;
}