:root
{
/* ==================MAIN COLORS==================*/
    --primary-color: hsl(240, 80%, 55%);
    --primary-color-alt: hsl(240, 30%, 70%);
    --dark-color:hsl(0, 0%, 20%);
    --dark-color-alt: hsl(0, 0%, 36%);
    --Checkin:hsl(120, 50%, 50%);
    --Checkin-hover:hsl(120, 50%, 30%);
/* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-light-color: whitesmoke;
}
/* =====================Global CSS ===================== */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: whitesmoke;
    font-family: sans-serif;
}
a
{
    font-size: .9rem;
    text-decoration: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
li
{
    list-style: none;
}
/* ===================== Nav_bar ===================== */
.nav-bar
{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: var(--primary-color);
    padding: 0.1em  1em;
}
.logo
{
    line-height: 2.6rem;
    color: var(--text-light-color);
    font-size: 1.3rem;
}
.logo:hover
{
    color: var(--primary-color-alt);
}
.logo_container
{
    width: 10%;
    text-align: center;
}
.drop-down
{  
    cursor: pointer;
    border: 2px solid var(--primary-color-alt);
    width: fit-content;
    padding: 0.01em 0.5em;
    transition: 0.3s;
}
.drop-down .avatar
{
    transform: translateY(3px);
    width: 35px;
    border-radius: 50%;
}
.drop-down button
{
    transform: translateY(-10px);
    text-align: center;
    color: var(--text-light-color);
    padding: 4px 8px;
}
.drop-down:hover
{
    background: var(--primary-color-alt);
    border-color: black;
}
.drop-down:hover button
{
    color: var(--text-dark-color);
}
.drop-down:hover .avatar
{
    border: 1px solid black;
}
/* =====================Sub menu===================== */
.sub-menu-wrap
{
    position: absolute;
    top: 3.2rem;
    right: 1%;
    background-color: var(--dark-color);
    opacity: .9;
    max-height: 0%;
    width: 20%;
    overflow: hidden;
    transition: .3s;
}
.active-menu
{
    max-height: 50%;
}
.sub-menu ul
{
    text-align: left;
}
.sub-item-icon
{
    margin-right: 1.5rem;
    background-color: var(--primary-color-alt);
    color: var(--text-dark-color);
    font-size: .9rem;
    padding: .3rem;
    border-radius: 50%;
}
.arrow-icon
{
    position: absolute;
    right: 8%;
    /* transform: translateY(.3rem); */
    transition: .3s;
}
.sub-item a
{
    color: var(--text-light-color);
    transition: .3s;
}
.sub-item
{
    padding: .3rem 1.5rem;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}
.sub-item:hover
{
    background-color:var(--dark-color-alt) ;
}
.sub-item .arrow-icon
{
    transform: translateY(.3rem);
}
.sub-item:hover .arrow-icon
{
    color: var(--primary-color-alt);
    transform: translate3d(.6rem,.3rem,0);
}
.sub-item:hover a
{
    color: var(--primary-color-alt);
}
.sub-menu-active
{
    max-height:50% ;
}



/* =====================Sidebar ===================== */
.side_bar
{
    background-color: var(--primary-color-alt);
    position: absolute;
    top: 3rem;left: 0;
    width: 16%;
    height: 92.7vh;
}
.container
{
    padding: 2px 4px;
}
.clock_section
{
    background-color: var(--dark-color);
    text-align: center;
    height: fit-content;
    border-bottom: 4px solid #000;
    padding-bottom: 1.2rem;
}
.clock_section .avatar
{
    width: 60%;
    margin: .3rem auto .6rem;
    border-radius: 50%;
}
.clock
{
    color: var(--text-light-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin: .6rem auto .3rem auto ;
}
.clock_section button
{
    background-color: var(--Checkin);
    color: var(--text-light-color);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
}
.clock_section button:hover
{
    background-color: var(--Checkin-hover);
}
/* =====================Menu Items===================== */
.menu_elements
{

    background: hsl(0, 0%, 20%);
}
.menu_item a
{
    color: whitesmoke;
    transition: .3s;
    font-style: 0.3rem;
}
.menu_item
{
    padding: 1rem 1.5rem;
    width: 100%;
    transition: .3s;
}
.menu_item:hover
{
    cursor: pointer;
    border-left: 4px solid var(--primary-color);
    background-color: var(--dark-color-alt);
}
.menu_item:hover a
{
    color: var(--primary-color-alt);
}
.menu-icon 
{
    margin-right: 1rem;
}
.menu_item:hover .menu-icon
{
    color: var(--primary-color-alt);
}


