:root
{
/* ==================MAIN TEXTS ==================*/
    --primary-color: hsl(240, 40%, 50%);
    --primary-color-alt: hsl(240, 40%, 90%);
/* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-light-color: whitesmoke;
}
/* =====================Global CSS ===================== */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: whitesmoke;
    font-family: sans-serif;
}
a
{
    text-decoration: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* ===================== Nav_bar ===================== */
.nav-bar
{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0.1em  1em;
}
.logo
{
    line-height: 2.6rem;
    color: var(--text-light-color);
    font-size: 1.3rem;
}
.logo:hover
{
    color: var(--primary-color-alt);
}
.logo_container
{
    width: 10%;
    text-align: center;
}
.drop-down
{
    cursor: pointer;
    border: 2px solid var(--primary-color-alt);
    width: fit-content;
    padding: 0.01em 0.5em;
    transition: 0.3s;
}
.drop-down .avatar
{
    transform: translateY(3px);
    width: 35px;
    border-radius: 50%;
}
.drop-down button
{
    transform: translateY(-8px);
    text-align: center;
    color: var(--text-light-color);
    padding: 4px 8px;
}
.drop-down:hover
{
    background: var(--primary-color-alt);
    border-color: black;
}
.drop-down:hover button
{
    color: var(--text-dark-color);
}
.drop-down:hover .avatar
{
    border: 1px solid black;
}
/* =====================Sidebar ===================== */
.side_bar
{
    background-color: var(--primary-color-alt);
    position: absolute;
    top: 3rem;left: 0;
    width: 18%;
    height: 100%;
}
.container
{
    padding: 2px 4px;
}
.clock_section
{
    text-align: center;
    height: 30%;
}
.clock_section .avatar
{
    width: 9rem;
    margin: 8px auto;
    border-radius: 50%;
}