@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* =============================== Variables =========================== */
:root {
    /* ==================MAIN COLORS==================*/
    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 sky blue: 205*/
    --primary-color: hsl(var(--hue-color), 69%, 61%);
    --primary-color-alt: hsl(var(--hue-color), 100%, 90%);
    --primary-color-sec: hsl(var(--hue-color), 69%, 20%);
    --dark-color: rgb(51, 51, 51);
    --dark-color-alt: hsl(0, 0%, 36%);
    --dark-selected: hsl(0, 0%, 20%);
    --Checkin: hsl(120, 50%, 50%);
    --Checkin-hover: hsl(120, 50%, 30%);
    --checkout: hsl(0, 100%, 70%);
    /* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-dark-color-alt: grey;
    --text-light-color: whitesmoke;
}

/* ============================== GOlbal styling ======================= */
* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* font-size: 1rem; */
    font-family: 'poppins', sans-serif;
}

body {
    margin: 0rem;
    min-height: 100vh;
    /* background-color: black; */
}

.hero-content {
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-sec);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ============================== BG aimation ======================= */
.bg-animation
{
    /* opacity: 1; */
    position: absolute;
    z-index: -1;
    width: 100%;  
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    height: 100vh;
    z-index: -1;
    position: absolute;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background:#4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(195s/var(--i)) ;
}
.bubbles span:nth-child(even)
{
    background:#ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 
    0 0 50px #ff2d75,
    0 0 100px #ff2d75; 
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    1000%
    {
        transform: translateY(-100vh) scale(1);
    }
}








/* ============================== CSS starts ======================= */

.hero {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(0, 0, 0,0.2);
}
.Title-text
{
    color: var(--text-dark-color);
    font-weight: bold;
    padding: 1rem 0 1rem 5%;
    font-size: 1.2rem;
    color: var(--text-light-color);
    /* background-color: yellow; */
}

.your {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary-color-alt);
}

.user-head {
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--text-dark-color);
    /* color: rgb(207, 224, 218); */
    text-align: center;
    /* background-color: rgb(231, 176, 105); */
}

.user-image-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color-alt);
}

.user-image {
    border-radius: 50%;
    border:.3rem solid white;
    height: 100%;
    width: 100%;
    color: var(--primary-color-alt);
}

.user-bottom {
    height: 9%;
    padding-top: 2%;
    width: 100%;
    text-align: center;
    color:  var(--text-dark-color);
    /* color: rgb(192, 228, 216); */
    /* background-color: rgb(207, 224, 218); */
}

.user-bottom p {
    font-size: 1.25rem;
    font-weight: bold;
    /* color: red; */
}

.user-details {
    height: 13%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    grid-template-rows: 1% 1fr 1fr 1fr;
    font-size: 0.94rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left; */
    /* font-weight: bold; */
}

.user-details-top1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}

.user-details-bottom1 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}

.user-details-top2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}

.user-details-bottom2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}

.user-details-top3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}

.user-details-bottom3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}


.master-side {
    height: 80%;
    width: 60%;
    background-color: var(--primary-color-alt);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5%;
}

.master-head {
    height: 10%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 3%; */
    font-size: 1.32rem;
    font-weight: bold;
    color: var(--text-light-color);
    background-color:var(--primary-color);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.big_container{
    height: 20%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
}

.Details-name {
    font: 1.2rem;
    font-weight: bold;
    color: var(--text-dark-color-alt);
    padding: 0 0 1% 1%;
}

.inputbox div{
    height: 2.7rem;
    /* text-align: left; */
    padding: 0 0 0 1%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-dark-color);
    background-color: var(--text-light-color);
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.name2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.big_box
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-left: 2.5%;
    width: 95%;
    /* background-color: blue; */
}
.birth {
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dep {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (max-width:900px) {
    .hero-content
    {
        height: fit-content;
    }
    .your{
        flex-direction: column;
        /* background-color: red; */
        height: fit-content;
    }
    .user-info
    {
        height: 500px;
        width: 80%;
    }
    .master-side
    {
        height: 400px;
        width: 80%;
    }
}

@media only screen and (max-width:400px){
    .user-details {
        height: 40%;
        /* grid-template-columns:  1fr; */
        /* grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
        text-align: left; */
        font-size: 0.77rem;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

}