body
{
    background: #eee;
}
#side_nav
{
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
    transition: .3s;
}
.content
{
    min-height: 100vh;
    width: 100%;
}
h-color
{
    background: #eee;
}
.sidebar li.active
{
    background-color: #eee;
    border-radius: 8px;
}
.sidebar li.active a{
    color: #000;
}
.sidebar li a{
    color: whitesmoke;
}
.menu-icon
{
    margin-right: 10px;
}
@media(max-width:767px)
{
    #side_nav
    {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
.logo
{
    width: 35px;
    height: 30px;
    margin-top: -10px;
}