@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /* ==================MAIN COLORS==================*/
    --hue-color: 207;
    /* --color-mer:hsl(207, 75%, 50%); */
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 sky blue: 205*/
    --primary-color: hsl(var(--hue-color), 75%, 50%);
    --primary-color-alt: hsl(var(--hue-color), 100%, 90%);
    --primary-color-sec: hsl(var(--hue-color), 69%, 61%);
    --dark-color: rgb(51, 51, 51);
    --dark-color-alt: hsl(0, 0%, 36%);
    --dark-selected: hsl(0, 0%, 20%);
    --Checkin: hsl(120, 50%, 50%);
    --Checkin-hover: hsl(120, 50%, 30%);
    --checkout: hsl(0, 100%, 70%);
    /* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-dark-color-alt: grey;
    --text-light-color: whitesmoke;
}
*
{
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body
{
    height: calc(100vh-3px);
    font-weight: 100;
}
main {
      padding: 48px;
      position: absolute;
      left: 15%;
      top: 7%;
      width: 85%;
      height: 93%;
      overflow: hidden;
  }
  .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 15%;
      width: 99%;
  }

  .calendar {}

  .calendar__week,
  .calendar__header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
  }

  .calendar__week {
      grid-auto-rows: 85px;
      text-align: right;
  }

  .calendar__header {
      grid-auto-rows: 50px;
      align-items: center;
      text-align: center;
  }

  .calendar__day {
      padding: 16px;
  }


  :root {
      --red: #ED5454;
  }


  sidebar {
      background-color: white;
      box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  }

  main {
      background-color: whitesmoke
  }
  .calendar {
      background-color: white;
      border: 1px solid #e1e1e1;
  }
  .calendar__header
  {
    color: var(--primary-color);
  }
  .calendar__header>div {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
  }

  .calendar__day {
      border-right: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
  }

  .calendar__day:last-child {
      border-right: 0;
  }

  .toggle {
      display: grid;
      grid-template-columns: 1fr 1fr;

      text-align: center;
      font-size: 0.9em;
  }

  .toggle__option {
      padding: 16px;
      border: 1px solid #e1e1e1;
      border-radius: 8px;
      text-transform: capitalize;
      cursor: pointer;
  }

  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }

  .toggle__option--selected {
      border-color: white;
      background-color: white;
      color: var(--red);
      font-weight: 500;
      box-shadow: 1px 2px 30px -5px var(--red);
  }
  .schedule-time
  {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: .75rem;
    /* height: 40%; */
    width: 25%;
  }
  .question_atten
  {
    font-weight: bold;
  }
  .current-month
  {
    /* background-color: red; */
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  .arrow-icon
  {
    cursor: pointer;
  }