*
{
    box-sizing: border-box;
}
body
{
    height: calc(100vh-3px);
}
main {
      padding: 48px;
      position: absolute;
      left: 15%;
      top: 7%;
      width: 85%;
      height: 93%;
      overflow: hidden;
  }
  .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 15%;
      width: 99%;
  }

  .calendar {}

  .calendar__week,
  .calendar__header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
  }

  .calendar__week {
      grid-auto-rows: 85px;
      text-align: right;
  }

  .calendar__header {
      grid-auto-rows: 50px;
      align-items: center;
      text-align: center;
  }

  .calendar__day {
      padding: 16px;
  }


  :root {
      --red: #ED5454;
  }

  body {
      font-family: Montserrat;
      font-weight: 100;
      color: #A8B2B9;
  }

  sidebar {
      background-color: white;
      box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  }

  main {
      background-color: #FCFBFC;
  }

  .avatar__name {
      font-size: 0.8rem;
  }

  .menu__item {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 500;
      padding: 16px 16px 16px 14px;
      border-left: 4px solid transparent;
      color: inherit;
      text-decoration: none;
      transition: color ease 0.3s;
  }

  .menu__item--active .menu__icon {
      color: var(--red);
  }

  .menu__item--active .menu__text {
      color: black;
  }

  .menu__item:hover {
      color: black;
  }


  .menu__icon {
      font-size: 1.3rem;
  }

  @media screen and (min-width: 850px) {
      .menu__icon {
          font-size: 0.9rem;
          padding-right: 16px;
      }

      .menu__item--active {
          border-left: 4px solid var(--red);
          box-shadow: inset 10px 0px 17px -13px var(--red);
      }
  }

  .copyright {
      font-size: 0.7rem;
      font-weight: 400;
  }

  .calendar {
      background-color: white;
      border: 1px solid #e1e1e1;
  }

  .calendar__header>div {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
  }

  .calendar__day {
      border-right: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
  }

  .calendar__day:last-child {
      border-right: 0;
  }

  .toggle {
      display: grid;
      grid-template-columns: 1fr 1fr;

      text-align: center;
      font-size: 0.9em;
  }

  .toggle__option {
      padding: 16px;
      border: 1px solid #e1e1e1;
      border-radius: 8px;
      text-transform: capitalize;
      cursor: pointer;
  }

  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }

  .toggle__option--selected {
      border-color: white;
      background-color: white;
      color: var(--red);
      font-weight: 500;
      box-shadow: 1px 2px 30px -5px var(--red);
  }