@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    /* ==================MAIN COLORS==================*/
    --hue-color: 207;
    /* --color-mer:hsl(207, 75%, 50%); */
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 sky blue: 205*/
    --primary-color: hsl(var(--hue-color), 75%, 50%);
    --primary-color-alt: hsl(var(--hue-color), 100%, 90%);
    --primary-color-sec: hsl(var(--hue-color), 69%, 61%);
    --dark-color: rgb(51, 51, 51);
    --dark-color-alt: hsl(0, 0%, 36%);
    --dark-selected: hsl(0, 0%, 20%);
    --Checkin: hsl(120, 50%, 50%);
    --Checkin-hover: hsl(120, 50%, 30%);
    --checkout: hsl(0, 100%, 70%);
    /* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-dark-color-alt: grey;
    --text-light-color: whitesmoke;
}

* {
    padding: 0rem;
    margin: 0rem;
    border-radius: 0rem;
    font-family: Poppins;
    font-size:1rem;
}

body {
    height: 100vh;
}

.container-fluid {
    background-color: whitesmoke;
    top: 7%;
    left: 19%;
    height: 93%;
    width: 81%;
    position: fixed;
}

.top-nav {
    height: 10%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
}

.top-nav h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 2%;
}

main {
    background-color: #ffffff;
    height: fit-content;
    width: 97%;
    margin-left: 2%;
    padding-bottom: 1%;
}

.horizontal-line {
    background-color: var(--primary-color);
    height: 0.4%;
    margin: 0 0.2% 0 0.3%;
}


.view-notice {
    font-size: 1rem;
    font-weight: 300;
    padding: 1% 0 1% 1%;


}

.main-notice {
    width: 96%;
    height: 10%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.main-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* justify-content: space-evenly; */
}

.main-notice {
    /* background-color: #009879; */
    width: 96.9%;
}

.main-text {
    font-size: .8rem;
}


.main-text-middle {
    width: 3%;
    font-size: .8rem;
    margin: 0 1rem;
}
.table-holder
{
    max-height: 525px;
    overflow: scroll;
}
.content-table {
    border-collapse: collapse;
    max-height: 60px;
    overflow: scroll;
}
.SN
{
    width: 1%;
}
.Notice_title
{
    width: 15%;
    text-align: center;
}
.Notice_date
{
    width: 1%;
}

.content-table thead tr {
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;  
}
.content-table th,
.content-table tr {
    padding: 5px 15px;
    font-size: .95rem;
}

.content-table td {
    padding: 13px 15px;
    font-size: .85rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;

}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

@media screen and (max-width:950px) {
   

    .content-table th,
    .content-table tr {

        padding: 13px 10px;
        font-size: 1.15rem;
    }

    .content-table td {
        padding: 13px 10px;
        font-size: 1.15rem;
    }
    
}

@media screen and (max-width:715px) {
   

    .content-table th,
    .content-table tr {

        padding: 13px 8px;
        font-size: 1.1rem;
    }

    .content-table td {
        padding: 13px 8px;
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width:650px) {
    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .container-fluid {
        height: 100%;
        width: 100%;
        left: 0;
    }

    .top-nav {
        height: 6%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .top-nav h2 {
        font-size: 1.35rem;
        font-weight: bold;
        margin-left: 2%;
    }

    main {
        width: 100%;
        height: fit-content;
        margin-left: 0.6%;
    }
    .Notice_title
    {
        width: 20%;
    }
    .Notice_date
    {
        width: 30%;
    }
    .Notice_Bio
    {
        display: none;
    }
.content-table th,
.content-table tr {
    text-align: center;
}
    .view-notice {
        font-size: 1.15rem;
        margin: 2% 0 2% 0;  
        width: 97%;
        /* background-color: blue; */

    }

    .main-header {
        flex-grow: 1;
        /* font-size: 0.8rem; */
    }

    .main-text {
        padding-right: 1.5%;
        font-size: 1rem;
    }

    .main-text-right {
        font-size: 0.9rem;
    }

    .main-text-middle {
        width: 15%;
        font-size: 1rem;
    }


    .main-bottom {
        width: 15%;
        font-size: 0.9rem;
    }

    .content-table {
        height: fit-content;
    }

    .content-table th,
    .content-table tr {

        padding: 10px 4px;
        font-size: 0.95rem;
    }

    .content-table td {
        padding: 9px 4px;
        font-size: 0.75rem;
    }
}